In [16]:
multiply = lambda x,y: x*y
multiply(2,3)

6

In [13]:
data = [{'animals': 'horse', 'age': 3},
        {'animals': 'cat', 'age': 1},
        {'animals': 'giraffe', 'age': 5}]
sorted (data, key=lambda item: item['animals'])

[{'animals': 'cat', 'age': 1},
 {'animals': 'giraffe', 'age': 5},
 {'animals': 'horse', 'age': 3}]

In [17]:
print("Hello World!")

Hello World!

In [21]:
def hello (text):
    return text
text = "Hello World!"
print (hello (text))

Hello World!

In [ ]:
def __int__(self, text):
    self.text = text
    
def print_input(self):
    try:

In [26]:
for N in range(1,11):
    print(N)

1
2
3
4
5
6
7
8
9
10

In [25]:
for N in [1,2,3,4,5]:
    print(N, end=" ")

1 2 3 4 5